body {
    background-color: #6186f7;
    margin-top: 0;
}

.navbar {
    justify-content: flex-end;
}

.navbar-nav {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
}

.navbar-toggler {
    position: fixed;
    margin-top: 50px;
    border: none;
}



.bg-box {
    justify-content: center;
}

.info-container, .res-container {
    height: 65vh;
    width: 90%;
    margin: 15px 5% ;
    padding: 15px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* flex-direction: column; */
    /* justify-content: end; */
    align-content: space-between;
    
}

.res-button-container {
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.container-header {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.info-container p {
    margin-bottom: 20px;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.img-container span {
    height: 90px;
    width: 90px;
    background-color: antiquewhite;
}

h2 {
    width: 100%;
    text-align: center;
}