body {
    background-color: #6186f7;
    margin-top: 0;
}

.navbar {
    justify-content: flex-end;
}

.navbar-nav {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
}

.navbar-toggler {
    position: fixed;
    margin-top: 50px;
    border: none;
}

.bg-box {
    justify-content: center;
}

.card {
    height: 75vh;
    width: 90%;
    margin: 15px 5%;
    padding: 15px;
    background-color: rgba(0, 0, 0, .4);
    align-content: flex-end;
}

.card p {
    align-self: flex-end;
}

#splash {
    text-align: center;
}